
body {
    /* feel free to update these css variables for a quick theme */
    
    --cherry: rgb(0, 0, 0);
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#game-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 10% 70% 20%;
    background-image: url('../assets/dungeon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow:
                1px 0 var(--cherry),
                0 1px var(--cherry),
                -1px 0 var(--cherry),
                0 -1px var(--cherry),
                1px 1px var(--cherry),
                -1px -1px var(--cherry),
                1px -1px var(--cherry),
                -1px 1px var(--cherry),
                2px 0 var(--cherry),
                0 2px var(--cherry),
                -2px 0 var(--cherry),
                0 -2px var(--cherry),
                2px 2px var(--cherry),
                2px -2px var(--cherry),
                -2px 2px var(--cherry),
                -2px -2px var(--cherry);
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

#right {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    
}

#goblin-container {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    /* grid-column: 2;
    grid-row: 2; */
}

#bottom {
    grid-row: 3;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    color: white;
    overflow: scroll;
}

#bottom p {
    margin: 0;
}

#character-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 200px;
    min-height: 400px;
    background-image: url('../assets/players/characters-2029815__340.png');
    background-size: 200px 340px;
    background-repeat: no-repeat;
    border-radius: 10%;
}

.goblin-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 150px;
    min-height: 200px;
    margin: 10px 0;
    background-size: 150px 140px;
    background-repeat: no-repeat;
}
.goblin-stats , .player-stats{
    min-height: 20px;
    width: 100%;
    margin: 0;
    color: white;
    text-align: center;
    text-shadow:
                1px 0 var(--cherry),
                0 1px var(--cherry),
                -1px 0 var(--cherry),
                0 -1px var(--cherry),
                1px 1px var(--cherry),
                -1px -1px var(--cherry),
                1px -1px var(--cherry),
                -1px 1px var(--cherry),
                2px 0 var(--cherry),
                0 2px var(--cherry),
                -2px 0 var(--cherry),
                0 -2px var(--cherry),
                2px 2px var(--cherry),
                2px -2px var(--cherry),
                -2px 2px var(--cherry),
                -2px -2px var(--cherry);
}

.btns {
    margin: 5px 0;
}

#button-container {
    justify-self: center;
    position: absolute;
    top: 95px;
}

#dead-goblins, #death-toll{
    color: white;
}

#combat-report {
    color: white;
    text-align: center;
    text-shadow:
                1px 0 var(--cherry),
                0 1px var(--cherry),
                -1px 0 var(--cherry),
                0 -1px var(--cherry),
                1px 1px var(--cherry),
                -1px -1px var(--cherry),
                1px -1px var(--cherry),
                -1px 1px var(--cherry),
                2px 0 var(--cherry),
                0 2px var(--cherry),
                -2px 0 var(--cherry),
                0 -2px var(--cherry),
                2px 2px var(--cherry),
                2px -2px var(--cherry),
                -2px 2px var(--cherry),
                -2px -2px var(--cherry);
}

#dead-goblins {
    text-shadow:
                1px 0 var(--cherry),
                0 1px var(--cherry),
                -1px 0 var(--cherry),
                0 -1px var(--cherry),
                1px 1px var(--cherry),
                -1px -1px var(--cherry),
                1px -1px var(--cherry),
                -1px 1px var(--cherry),
                2px 0 var(--cherry),
                0 2px var(--cherry),
                -2px 0 var(--cherry),
                0 -2px var(--cherry),
                2px 2px var(--cherry),
                2px -2px var(--cherry),
                -2px 2px var(--cherry),
                -2px -2px var(--cherry);
}
